/* body{
  background-image: url("./Images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */
.icon-one {
  width: 10%;
  height: auto;
}

.gjoprN {
  line-height: unset !important;
}

.gcBbvz {
  line-height: unset !important;
}

.text-none {
  text-decoration: none;
}

.gjoprN {
  line-height: unset !important;
}

.gcBbvz {
  line-height: unset !important;
}

/* .custom-fast{
  margin-left: -10%!important;
} */
.custon-input {
  border-color: #edeff2;
}

.react-tel-input .form-control {
  width: 497% !important;
  border-color: #dee2e6 !important;
}

.small-text {
  font-size: 13px;

}

.font-weight {
  font-weight: 700;
}

.bg-color {
  background-color: #aa322e;
  color: white;
  border-color: #aa322e;
}

.text-color {
  color: rgb(179 184 201);
}

.custon-input::placeholder {
  color: rgb(179 184 201);
}

.btn.bg-color:hover {
  background-color: #aa322e;
  color: white;
  border-color: #aa322e;
}

.form-control:focus {
  box-shadow: none;
  border-color: #aa322e;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.align-self {
  align-self: center;
}

@media (max-width: 767px) {
  .res {
    margin-left: 2px;
    margin-right: 2px;
  }

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"><path fill="%233F4254" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>') !important;
  background-repeat: no-repeat !important;
  background-position: right 10px center !important;
  padding-right: 20px !important;
  background-size: 8px;
  padding-left: 6px;
  font-size: 12px;
  border: 1px solid;
  background-color: white;
}

#navBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}


.jtFbMv {
  min-height: 30rem !important;
  max-height: none !important;
}

.ibgBY {
  min-height: 30rem !important;
  max-height: none !important;

}


.tooltip-inner {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex !important;
  justify-content: left !important;
  max-width: fit-content !important;
}

.tooltip .tooltip-arrow {
  display: none !important;
}

.arrow-image-width {
  width: 1.1rem;
}

/* #navBar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #c43b3b;
  display: block;
  transition: 0.3s;
} */
.text-decoration {
  text-decoration: none;
}

/* .input-bg:focus {
  outline: none;
  box-shadow: none;
} */


/* .input-bg:focus {
  border-color: #aa322e; 
} */


.font-size {
  font-size: small !important;
}

.background-color {
  background-color: #f7f8f8;
}

.action-background-color {
  background-color: #f7f8f8;
}

.action-background-color:hover {
  background-color: #f7f8f8;
}

.text-color {
  /* color: #c2c2cd !important; */
  color: #1C274C !important;

}

.text-color-two {
  color: #1C274C !important;

}

.user-adding {
  margin-left: 2rem !important;

}

.table-left-side-gap {
  margin-left: 3rem !important;
}

.color-invite {
  background-color: #f7ebeb;
  color: #be615e;
}

.color-upload {
  background-color: #aa322e;
  color: white;
}

.disabled {
  background-color: #c5bdbd;
  color: white;
}

/* .color-disabled{
  opacity: 50%;
  background-color: #808080;
  color: white;
} */

.logo-bg {
  background-color: #f3f6f9;
}

.heart-color {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.checked {
  color: yellow !important;
}

.btn {
  font-size: 13px !important;
}

.btn-primary {
  background-color: #1bc5bd;
  border-color: #aa322e !important;
}

.error-message {
  color: red;
}

.success-message {
  color: blue;
}

/* .btn-primary:hover,.btn-primary:focus {
  background-color: #1bc5bd!important;
  border: #1bc5bd;
  outline: none;
  box-shadow: none;
} */
.user-gap {
  padding-left: 4rem !important;
}

.logo-gap {
  padding-left: 10px;
  /* padding-right: 2rem; */
  text-align: center;
}

.logo-gap-res {
  padding-left: 2rem;
  padding-right: 2rem;
}

.background-number-color {
  background-color: #1bc5bd;
  color: white;
}

.email-color {
  color: #8d8f9a;
}

/* @font-face {
  font-family: 'Poppins';
  src: url('./DM_Serif_Display,Poppins/Poppins/Poppins-Regular.ttf') format('truetype');
}  */
/* .popins-family{
  font-family: 'Poppins', Arial, sans-serif!important;
  font-weight: 100!important;
  font-size: small;
}
.popins-family-h{
  font-family: 'Poppins', Arial, sans-serif!important;
  font-weight: 500!important;
  vertical-align: small;
}

.popins-family-six{
  font-family:  'Poppins', 'Helvetica', "sans-serif"!important;  
  font-weight: 600!important;
  font-size: small;

} */
.note-pad-image {
  width: 15%;
}

.register-bg {
  background-color: #e1f0ff;
  color: #64b1ff;
}

.custom-options {
  width: 100% !important;
}


.display {
  display: none;
}

.logo-width {
  width: 60%;
}

.my-drive-margin {
  margin-top: 4rem;
}

.search-color {
  background-color: #f7f8f8 !important;
}

.upload-image-width {
  width: 1.3rem;
}

.upload-file-width {
  width: 1rem;
}

#yourTableId {
  border: none;
}

#yourTableId_wrapper .dataTables_scroll {
  border: none;
}

#yourTableId_wrapper .dataTables_scrollHeadInner,
#yourTableId_wrapper .dataTables_scrollHeadInner table {
  border: none;
}

#yourTableId_wrapper .dataTables_scrollBody {
  border: none;
}

#yourTableId_wrapper table.dataTable thead th,
#yourTableId_wrapper table.dataTable thead td {
  border: none;
}

#yourTableId_wrapper table.dataTable tbody th,
#yourTableId_wrapper table.dataTable tbody td {
  border: none;
}

.dataTables_paginate span.current,
.dataTables_paginate span a {
  background-color: #e4e4e4 !important;
  /* Change this to your desired background color */
  color: #fff !important;
  /* Change this to your desired text color */
  /* padding: 5px 10px;
    margin: 0 2px;
    border-radius: 3px;
    cursor: pointer; */
}

.dropdown-menu-lg {
  width: 300px;

}
.dropdown-menu-profile{
  width: 170px;
  padding: 12px 0px;
}
.profile-dropdown{
  padding: 2px 10px;
}
.desktop-only{
  padding: 5px;
}
.custom-dropdown {
  position: absolute !important;
  inset: 0px auto auto 0px !important;
  margin: 0px !important;
  transform: translate3d(-190px, 45px, 0px) !important;
}

/* #navBar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
} */

#navBar a {
  padding-left: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#navBar a:hover {
  color: #f1f1f1;
}

#navBar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
}

#closeButton {
  padding: 15px;
  /* background-color: #4CAF50; */
  color: black;
  border: none;
  cursor: pointer;
}

.dataTables_paginate .page-item.active .page-link {
  background-color: #1bc5bd;
  color: white;
  border-color: #1bc5bd;
}

.btn-dropdown {
  padding: 0.4rem;
}

.btn-color {
  background-color: #1bc5bd;
  color: white !important;
  background-color: #1bc5bd !important;
  border: #1bc5bd;
  outline: none;
  box-shadow: none;
}

.btn-color:hover,
.btn-color:focus {
  color: white !important;


}

.btn:disabled {
  background-color: #aa322e;
  opacity: 0.5;
}

.color-hover:hover {
  color: #aa322e !important;
  background-color: #F3F6F9;
}

.background-color-blue {
  background-color: blue;
}

.folder-color {
  background-color: #f7ebeb;
  color: #aa322e;
  border-color: #f7ebeb;
}

.file-color {
  background-color: #aa322e;
  color: white;
  border-color: #aa322e;

}

.create-hover:hover {
  background-color: #aa322e;
  color: white;
}

.delete-store {
  background-color: #f7ebea;
  color: #aa322e;
}

.delete-store:hover {
  background-color: #f7ebea;
  color: #aa322e;
}

.dropdown-color {
  color: #1bc5bd;
}

.ul-hover:hover {
  color: #1bc5bd;
  cursor: pointer;
}
.profile-img {
  width: 80px;
  height: 80px;
}
.custom-label {
  font-size: 15px;
  color: #464E5F;
  font-weight: 450;
}

.min-100 {
  min-width: 100px;
}

.min-170 {
  min-width: 170px;
}

.custom-input {
  width: 250px;
  color: #464E5F;
  font-weight: 400;
  font-size: 14px;
}
.cancel-profile-button {
  background-color: var(--icon-bg-color);
  color: var(--grey-color);
  border-radius: 8px;
  padding: 10px 22px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.loginSessionsPara{
    color: var(--grey-color);
}

.min-width-table {
  min-width: 700px;
}

.login-sessions-desc {
  font-size: 14px;
  color: var(--grey-color);
  line-height: 27px;
}

.login-table-header {
  color: var(--grey-color);
  font-weight: 500;
}

.login-table-divider {
  border: none;
  border-top: 1px solid var(--grey-color);;
}

.login-row-divider {
  border: none;
  border-top: 2px solid #DBDFE9;
}
.flex-1 {
  flex: 1;
}

.flex-half {
  flex: 0.5;
}
.change-password-input {
  width: 500px;
  color: var(--grey-color);
  font-weight: 400;
  font-size: 14px;
  padding: 12px 16px;
  border: 1px solid #D9D9D9;
}

/* Custom CSS to adjust font size in DataTables */
.dataTables_length label,
.dataTables_length select {
  font-size: 14px !important;
}

/* Custom CSS to adjust font size for the number of entries displayed */
.dataTables_info {
  font-size: 14px !important;
  /* Set the font size for the information about the displayed entries */
}

/* td:hover{
      color: #4CAF50!important;
    } */

#yourTableId_first,
#yourTableId_last {
  margin-right: 10px;
}

#yourTableId_previous,
#yourTableId_next {
  margin-left: 10px;

}

.dataTables_length select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"><path fill="%233F4254" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 20px;
}

.button-padding {
  padding-top: 8px;
  padding-bottom: 9px;
}

.btn-bg-color {
  background-color: #1bc5bd !important;
}

/* .iteyOh{
  color: red;
} */

[data-column-id="1"].faZveH {
  min-width: 381px !important;
  max-width: 30rem !important;
  width: 15rem !important;
}

/*[data-column-id="4"].iteyOh {
  padding-left: inherit !important;
}

[data-column-id="4"].cAGMGL {
  padding-left: inherit !important;
}

[data-column-id="1"].cAGMGL {
  transform: translateX(90px);
} */
.Grid-Filter-Icon {
  align-self: center;
}

.customrowtooltip {
  background-color: #282c34;
}

.kfxOgr {
  min-height: 32rem !important;
  max-height: none !important;
}

.hLfECk {
  min-height: 32rem !important;
  max-height: none !important;
}

[data-column-id="1"].dBiUCQ {
  min-width: 27rem !important;

}

[data-column-id="4"].dBiUCQ {
  min-width: 281px !important;

}

[data-column-id="1"].gdBOih {
  min-width: 420px !important;

}

[data-column-id="4"].gdBOih {
  min-width: 281px !important;

}


[data-column-id="5"].faZveH {
  min-width: none !important;
  max-width: 1px !important;
  width: 1rem !important;
}

[data-column-id="2"].faZveH {
  min-width: none !important;
  max-width: 1px !important;
  width: 1rem !important;
}

[data-column-id="3"].faZveH {
  min-width: none !important;
  max-width: 15rem !important;
  width: 1rem !important;
}

[data-column-id="4"].faZveH {
  min-width: none !important;
  max-width: 20rem !important;
  width: 22rem !important;
}

[data-column-id="5"].gfKXFa {
  display: flex;
  justify-content: center;
  min-width: none !important;
  max-width: 28rem !important;
  width: 15rem !important;
}

[data-column-id="4"].gfKXFa {
  display: flex;
  justify-content: center;
  min-width: 281px !important;
  max-width: 28rem !important;
  width: 15rem !important;
}

[data-column-id="1"].gfKXFa {
  min-width: 381px !important;
  max-width: 30rem !important;
  width: 15rem !important;
}

[data-column-id="2"].gfKXFa {
  min-width: none !important;
  max-width: 28rem !important;
  width: 15rem !important;
}

[data-column-id="3"].gfKXFa {
  min-width: none !important;
  max-width: 28rem !important;
  width: 15rem !important;
}


/* .custom {
  transform:
    translateX(28px)
} */

.iteyOh {
  /* font-family: 'Poppins', 'Helvetica', "sans-serif"!important; */
  font-weight: 700 !important;

}

.cAGMGL {
  /* font-family: 'Poppins', 'Helvetica', "sans-serif"!important; */
  font-weight: 700 !important;
}

/* font-size: small!importasnt; */
/* [data-column-id="name"].rdt_TableCol {
  background-color: orange;
} */
/* display: flex!important;
  justify-content: center!important;
  margin-left: 4rem!important; */
.background-dropdown-color {
  background-color: transparent;
  /* color: white; */
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.copy-image-margin {
  margin-left: -3.5rem;
}


.copy-text-margin {
  margin-left: -4rem;
  font-size: 10px;
  margin-bottom: -3rem !important;
}

.eSnilV {
  font-weight: bold;
}

.eSnilV:hover {
  font-weight: bold !important;
}

.grid-icon {
  cursor: pointer;
}

.altribute {
  display: inline-block !important;
  /* width: 100% !important; */
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.grid-icon:hover path {
  stroke: #aa322e !important;
}

/* .grid-icon-div {
  align-self: center;
  margin-top: 1rem ;
  cursor: pointer;
} */

.margin-right {
  margin-right: 1rem;
  align-self: center;
  cursor: pointer;
}

/* @media (max-width: 767px) {
  

  
} */

/* .form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%233F4254' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")!important;
}
 
 
 .form-select{
  padding: 3px 25px 3px 10px!important;
}
.form-select:focus{
box-shadow: none!important;
}
.custom-outline:focus{
  box-shadow: none!important;
 
} */

.page-link {
  border: none !important;
  padding: 6px !important;
}

.pagination-item.active {
  background-color: transparent !important;
}

.pagination .page-link:focus,
.pagination .page-link:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

.breadcrumb-item {
  text-decoration: none !important;
  color: black !important;
}

/* .iOgnCO{
  margin-right: 27rem!important;
} */
.iXJJIz {
  display: none !important;
}

/* .kUwhdZ{
  display: none!important;
} */
/* .fAiwtk{
  display: none!important;
} */
/* .epZUJV svg {
  display: none!important;
} */
#pagination-first-page {
  display: none;
}

#pagination-last-page {
  display: none;
}

.sc-bZHSRq.sc-kMzELR.czCoqD.iOgnCO {
  position: absolute;
  left: 0;
}

.sc-bZHSRq.sc-kMzELR.czCoqD.iOgnCO {
  margin-left: 7rem;
  /* Yahaan aap negative value set karke element ko right side par shift kar sakte hain */
}

.table-container {
  position: relative;
}

.table-container {
  position: relative;
}

/* ::placeholder {
    color: red;
    font-size: 16px;
    font-style: italic;
  } */

.sc-bZHSRq.sc-ilxebA.czCoqD.fAiwtk {
  display: none;
  /* position: absolute;
  top: 0;
  left: 0; */
}

/* .sc-bZHSRq.sc-ilxebA.czCoqD.fAiwtk {
  position: absolute;
  margin-left: 8rem;
  margin-top: 17rem;
} */
.sc-lnsjTu.epZUJV {
  position: absolute;
  top: 0;
  left: 0;
}

.sc-lnsjTu.epZUJV {
  position: absolute;
  margin-left: 10rem;
  margin-top: 16rem;
}

/* .ibgBY{
  overflow-y: visible!important;
  overflow-x: visible!important;
} */
.fNLvxm {
  height: 14rem;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.pagination-left {
  text-align: left;
}

.pagination-right {
  text-align: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.username {
  font-size: 14px;
  color: var(--black-color);
  font-weight: 500;
  line-height: 20px;
  text-align: right;
}
.role {
  font-size: 14px;
  color: var(--grey-color);
  font-weight: 400;
  line-height: 20px;
  opacity:0.5;
}

.App-link {
  color: #61dafb;
}

/* .hMFeQo {
  position: static !important; 
  display: block !important; 
  justify-content: initial !important; 
  flex-wrap: nowrap !important;
} */
/* .rows-per-page-selector {
  position: absolute; 
  top: 0; 
  left: 0; 
  padding: 8px 16px;
  margin-top: 11.7rem; 
  margin-left: 7rem;
}

.rows-per-page-selector-fav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  margin-top: 11.7rem;
  margin-left: 7rem;
} */
.btn-pagination {
  margin: 5px;
  border-radius: 6px;
  border: none !important;
  background-color: #f8fafb;
}

.btn-pagination.active {
  background-color: #aa322e !important;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.apps-bg-color {
  background-color: #f7f8f8;
}

.apps-border {
  border: 1px solid rgb(247, 247, 247) !important;
  /* box-shadow: #dededf; */
  box-shadow: 0 10px 10px 10px rgba(203, 203, 203, 0.2), 0 6px 20px 0 rgba(188, 186, 186, 0.19);
}

.buttons-responsive {
  display: flex;
  justify-content: space-between;
  float: inline-end;
}

/* .drop-position {
  position: absolute !important;
} */

.share-modal .modal-content {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.Delete-Modal .modal-content {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 1.7rem;
  padding-bottom: 1rem;
}

/* .custom-options {
  z-index: 1000;
  border-color: white !important;
} */

.css-13cymwt-control {
  /* border: none !important; */
  outline: none;
  width: 100%;
  background-color: #F9F9F9 !important;
  border: none !important;
  border-radius: 10px !important;
}


.gray-shade {
  color: #99A1B7;
}


.css-1u9des2-indicatorSeparator {
  display: none !important;
}



.css-1gqyz35-MuiTypography-root {
  font-family: inherit !important;
  font-family: 'Poppins', sans-serif !important;

}

.dropdown-hide {
  color: red;
  margin-left: 10rem;
}

/* .grid-table-border:hover {
    border: 1px solid #e5e5e5;
  } */
/* .form-check-input{
  display: none ;
} */
/* .dropdown-hide{
  display: none;
} */
/* .grid-table-border:hover .dropdown-hide{
  display: block;
}  */
/* .grid-table-border:hover  .form-check-input{
  border: 1px solid #e5e5e5;
  display: block;
} */
.form-check-input {
  border-radius: 50% !important;
  padding: 8px !important;
  background-color: #f7f8f8 !important;
}

.form-check-input:checked {
  background-color: #aa322e !important;
  /* border-color: var(--form-check-input, #aa322e) !important; */

  border-color: #aa322e !important;

}

.form-check-input:focus {
  box-shadow: none !important;
  border-color: #e5e5e5 !important;
}

/* .share-select .select{
  background-image: none!important;
} */

.gKKkVG {
  padding: 0 32px 0 46px !important;
  height: 42px !important;
}

.fwBhej {
  font-weight: bold !important;
}

input[type='checkbox'] {
  accent-color: #aa322e;
}

.gacAJB:nth-of-type(n) {
  background-color: #F7EBEB !important;
}

.kgOwiN:hover {
  background-color: #F7EBEB !important;
}

.isMjnh:nth-of-type(n) {
  background-color: #F7EBEB !important;
}

.fmSbKl:hover {
  background-color: #F7EBEB !important;
}

/* .Toastify__toast-container--top-center{
  left: 50% !important;
    transform: translateX(-50%) !important;
} */

/* .Toastify .Toastify__checkbox input[type="checkbox"]:checked {
  border-color: #48c5a2!important;
} */
.Toastify__progress-bar-theme--light {
  /* display: none; */
  background-color: #F6FFF9;

}


.dropdown-toggle::after {
  display: none !important;
}

.Toastify__toast-body {
  padding-top: 0px;
  padding-bottom: 0px;
  /* font-size: 12px; */
}

.Toastify__toast--error {
  background: #ffe5ec !important;
  color: black;
  border: 1px solid #ef2052 !important;

}

.Toastify__toast--error .Toastify__progress-bar-theme--light {
  background: #ffe5ec !important;
}




.Toastify__toast--success {
  background-color: #F6FFF9 !important;
  border: 1px solid #48c6a1 !important;

  /* background-image: url('./Components/Images/Toast-CheckBox.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  align-self: center; */

}

.Toastify__toast--info {
  background-color: #F6FFF9 !important;
  border: 1px solid #48c6a1 !important;

  /* background-image: url('./Components/Images/Toast-CheckBox.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  align-self: center; */

}

.Toastify__toast-theme--colored.Toastify__toast--default,
.Toastify__toast-theme--light {
  /* background-color: #F6FFF9; */
  font-family: 'Poppins', sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  /* border: 1px solid #48C1B5; */
  border-radius: 12px;
  /* width: 180%; */
  /* max-width: max-  content; */
  /* right: 120px; */
}

.Toastify__toast {
  align-items: center !important;
}

.Toastify__close-button {
  align-self: center !important;
  padding: 1rem;
}


.Toastify__toast-container {
  width: max-content;
}

.Toastify__toast-theme--colored.Toastify__toast--default,
.Toastify__toast-theme--light {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}



/* .Toastify__toast-body .outer-span {
  display: block;
  width: max-content;
} */

/* .Toastify__toast-icon {
  background-image: url('./Components/Images/Toast-CheckBox.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  align-self: center;
} */

.Toastify__toast-icon svg {
  display: none;
}

.search-container {

  width: 100% !important;
}

.search-container.Expanded {
  width: 600px !important;
}

.clicked svg path {
  fill: red;
}

.delete-color {
  color: #ff4040 !important;
}

.Home-text-color {
  color: #aa322e;
  font-size: 11px;
  cursor: pointer;
}

.Home-text {
  /* margin-left:-7%!important; */
  font-size: 11px;
  cursor: pointer;
  /* margin-left:-4%!important; */


}

.favourite-text {
  /* margin-left:-18%!important; */
  font-size: 10px;
  cursor: pointer;


}

.recycle-text {
  /* margin-left:-29%!important; */
  font-size: 10px;
  cursor: pointer;

}

.home-text-res {
  padding-top: 5px;
  font-size: 12px;
  padding-left: 10px;
}

.red-text-color {
  color: #aa322e;
}

.alert-dismissible .btn-close {
  /* position: absolute; */
  top: 73px !important;
  right: 41px !important;
  /* z-index: 2; */
  /* padding: 1.25rem 1rem; */
  font-size: large !important;

}

.alert-danger {
  background: none !important;
  border-color: transparent !important;
}

.canceled-file {
  opacity: 0.5;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.strikethrough {
  text-decoration: line-through;
}


.breadcrumb a {
  text-decoration: none;
  color: black;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "" !important;
  height: 10px;
  background-image: url('data:image/svg+xml,%3Csvg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1 13L7 7L1 1" stroke="%23212121" strokeWidth"2" strokeLinecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 8px !important;
  margin: 0 0.4em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.progress-bar {
  background-color: #aa322e !important;
}

/* .modal-content{
  border-radius: 1.3rem!important;
} */
/* .dropdown-toggle{
  background-color: #e1f0ff!important;
  border: none!important;
} */
.back-button {
  background-color: transparent;
  color: var(--black-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2; 
  padding: 12px 0px; 
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.btn-custom-upload {
  background-color: rgba(170, 50, 46, 0.1);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 500;
  border: none;
}

.active-tab {
  color: var(--black-color);
  font-weight: 150;
}

.inactive-tab {
  color: var(--grey-color);
  font-weight: 150;
}

.active-tab:hover,
.inactive-tab:hover {
  text-decoration: underline;
}
.tab-button {
  font-weight: 700;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 20px;
  color: var(--grey-color);
}

.tab-button.active-tab {
  color: var(--primary-color);
}

.tab-underline {
  border-bottom: 2.5px solid var(--primary-color);
}

@media (max-width: 1080px) {
  .search-container.Expanded {
    width: 400px !important;
  }

  .Expanded {
    width: 300px;
  }

  .dropdown-hide {
    /* color: red; */
    margin-left: 7.5rem !important;
  }

}

@media (max-width: 887px) {
  .search-container.Expanded {
    width: 290px !important;
  }

  .Expanded {
    width: 300px;
  }

  .dropdown-hide {
    /* color: red; */
    margin-left: 5.8rem !important;
  }

}


@media (max-width: 769px) {

  /* .Toastify__toast-theme--colored.Toastify__toast--default,
  .Toastify__toast-theme--light {
    width: 76% !important;
    max-width: max-content !important;
    margin-top: 10px !important;

  } */
  .react-tel-input .form-control {
    width: 100% !important;
    border-color: #dee2e6 !important;
  }

  .res-col {
    margin-top: 1rem !important;
  }

  .dropdown-hide {
    /* color: red; */
    margin-left: 5rem !important;
  }

  /* .Toastify__toast-container--top-center{
    left: 64% !important;
      transform: translateX(-50%) !important;
  } */
  .display {
    display: block !important;
  }

  .displ {
    display: none !important;
  }

  /* .second-display{
  display: none;
} */


  .float-end {
    text-align: center;
    margin-top: 10px;
  }

  table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  th,
  td {
    white-space: nowrap;
  }

  .custom-dropdown {
    position: absolute !important;
    inset: 0px auto auto 0px !important;
    margin: 0 5px  !important;
    transform: translate3d(-120px, 45px, 0px) !important;
  }

  .mobile {
    background-color: #ffffff;
  }

  .users-mobile {
    padding-top: 1rem;
  }

  .form-select-sm {
    margin-bottom: 1rem;
  }

  /* .mobile-enimation{
          transition:  width 2s, height 4s;
          width: 300px;
          height: 300px;
      }
       */
  .user-gap {
    padding-left: 0rem !important;
  }

  .responsive-button {
    margin-left: 2rem;
  }

  /* .search{
    height: unset!important;
  } */


  /* .mobile-dis-none{
    display: none!important;
  } */
  .second-display {
    display: none !important;
  }

  .table-left-side-gap {
    margin: 0rem !important;
  }

  /* .ibgBY{
    overflow-y: auto!important;
    overflow-x: auto!important;
  } */
  .buttons-responsive {
    display: flex !important;
    flex-direction: column !important;
    float: none !important;
  }

  .rows-per-page-search-selector {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    margin-top: 16.3rem;
    /* margin-top: 11.7rem;  */
    margin-left: 7rem;
  }

  .rows-per-page-search-selector-fav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    margin-top: 13.3rem;
    /* margin-top: 11.7rem;  */
    margin-left: 7rem;
  }

  /* .searchbar-responsive {
    margin-top: 2rem;
    float: none !important;
    flex-direction: column;
    width: none !important;
  } */

  .folder-text {
    width: max-content;
    margin-right: 23rem;
  }

  /* .jtFbMv{
    overflow-y: auto!important;
    overflow-x: auto!important;
  } */
  .share-modal .modal-content {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .Delete-Modal .modal-content {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }

  .search {
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: 300%!important; */

    /* height: none!important;   */
  }

  .get-started-res {
    /* display: flex; */
    flex-direction: column !important;
  }

  .alert-dismissible .btn-close {
    padding-right: 0rem !important;
    text-align: center;
    /* top: 0!important; */
    margin-top: 8rem !important;
    right: 0px !important;


  }

  /* .progressbaar-responsive{
    display: flex!important;
    flex-direction: column!important;
  } */
  .res-progress {
    margin-top: 1rem;
  }

  .search-container.Expanded {
    width: unset !important;
  }

  .Expanded {
    width: unset !important;

  }

  .margin-right {
    margin-right: 0rem;
    align-self: auto;
    margin-top: 1rem;
  }

  .Grid-Filter-Icon {
    align-self: unset !important;
  }

  .Toastify__toast-container {
    width: 99% !important;


  }

  /* .Toastify__toast-container{
    max-width: none;
  } */
}

@media (max-width: 484px) {
  .Toastify__toast-container {
    width: 99% !important;
  }

  /* .Toastify__toast-theme--colored.Toastify__toast--default,
  .Toastify__toast-theme--light {
    width: 66% !important;
    max-width: max-content !important;
    margin-top: 10px !important;

  } */

  .res-col {
    margin-top: 1rem !important;
  }

  .dropdown-hide {
    /* color: red; */
    margin-left: 6.5rem !important;
  }

  .mob-res {
    /* display: flex;
    justify-content: center !important; */
    margin-bottom: 5px;
  }

  .margin-right {
    margin-right: 0rem;
    align-self: auto;
    margin-top: 1rem;
  }

  .Grid-Filter-Icon {
    align-self: unset !important;
  }

  /* .Toastify__toast-container{
    left: 8%;
  } */
  /* .Toastify__toast-container--top-center{
    left: 74% !important;
      transform: translateX(-50%) !important;
  } */

}



@media (max-width: 390px) {
  .Toastify__toast-container {
    width: 99% !important;
  }

  /* .Toastify__toast-theme--colored.Toastify__toast--default,
  .Toastify__toast-theme--light {
    width: 76% !important;
    max-width: max-content !important;
    margin-top: 10px !important;

  } */


  .res-col {
    margin-top: 1rem !important;
  }

  .dropdown-hide {
    /* color: red; */
    margin-left: 6rem !important;
  }

  .search-container.Expanded {
    width: unset !important;
  }

  .Expanded {
    width: unset;
  }

  .Toastify__toast-body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px !important;
  }

  .mob-res {
    /* display: flex;
    justify-content: center !important; */
    margin-bottom: 5px !important;
  }

  .margin-right {
    margin-right: 0rem;
    align-self: auto;
    margin-top: 1rem;
  }

  .Grid-Filter-Icon {
    align-self: unset !important;
  }

  /* .Toastify__toast-container--top-center{
    left: 64% !important;
      transform: translateX(-50%) !important;
  } */

}

@media (max-width: 375px) {
  .Toastify__toast-container {
    width: 99% !important;
  }

  /* .progressbaar-responsive{
    display: flex!important;
    flex-direction: column!important;
  } */


  /* .Toastify__toast-theme--colored.Toastify__toast--default,
  .Toastify__toast-theme--light {
    width: 76% !important;
    max-width: max-content !important;
  
    margin-top: 10px !important;

  }
  .Toastify__toast-container--top-center{
    left: 64% !important;
      transform: translateX(-50%) !important;
  } */
  .res-col {
    margin-top: 1rem;
  }

  .Toastify__toast-body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px !important;
  }

  .res-progress {
    margin-top: 1rem;
  }

  .res-table-icon {
    margin-top: 10px;
  }

  /* .Expanded{
    width: 100% !important;

  } */
  .dropdown-hide {
    /* color: red; */
    margin-left: 5.5rem !important;
  }

  .get-started-res {
    /* display: flex; */
    flex-direction: column !important;
    text-align: center;
    top: 0 !important;
  }

  .alert-dismissible .btn-close {
    right: 0px !important;
    /* top: 0!important; */
    margin-top: 8rem !important;

  }

  /* .mobile-dis-none{
    display: none!important;
  } */
  .second-display {
    display: none !important;
  }

  .table-left-side-gap {
    margin: 0rem !important;
  }

  /* .ibgBY{
    overflow-y: auto!important;
    overflow-x: auto!important;
  } */
  .buttons-responsive {
    display: flex !important;
    flex-direction: column !important;
    float: none !important;
  }

  .rows-per-page-search-selector {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    margin-top: 18.3rem;
    /* margin-top: 11.7rem;  */
    margin-left: 5.3rem;
  }

  .rows-per-page-search-selector-fav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    margin-top: 13.3rem;
    /* margin-top: 11.7rem;  */
    margin-left: 7rem;
  }

  /* .searchbar-responsive {
    margin-top: 2rem;
    float: none !important;
    flex-direction: column;
  } */

  /* .jtFbMv{
    overflow-y: auto!important;
    overflow-x: auto!important;
  } */
  .folder-text {
    width: max-content;
    margin-right: 23rem;
  }

  .pagination-left {
    text-align: left;
    width: 50%;
  }

  .mob-res {
    display: flex;
    justify-content: center !important;
    margin-bottom: 5px;
  }

  .search {
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: 300%!important; */

    /* height: none!important; */
  }



  .margin-right {
    margin-right: 0rem;
    align-self: auto;
    margin-top: 1rem;
    margin-left: 10px;
  }

  .Grid-Filter-Icon {
    align-self: unset !important;
  }


}


/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

.body {
  font-family: 'Poppins', sans-serif !important;

}



.dropdown-toggle.dropdown-arrow::after {
  display: none !important;
}

/* .form:focus{
outline: none!important;
border-color: #1bc5bd!important;

} */
.custom-font {
  font-family: 'Poppins', sans-serif !important;
}

/* div:where(.swal2-container) h2:where(.swal2-title){
  font-family: 'Poppins', sans-serif;
font-size: medium;
text-align: left;
margin-left: 3.4%;
}

div:where(.swal2-container) button:where(.swal2-close){
  font-family: 'Poppins', sans-serif;
  padding-top: 2rem
}
div:where(.swal2-container) button:where(.swal2-close):hover{
color: #cccccc!important;
}

div:where(.swal2-container) .swal2-input {

  margin: 0rem;
  margin-top: 1rem;
  width:100%;

}
.custom-input{
  width: 111%;
  margin-left: -2rem;
}
.custom-input-two{
  width: 111%;
  margin-left: -2rem;
  margin-bottom: -1.5rem;
    margin-top: 4rem;
  
}
.swal2-actions{
  margin: 0px;
}
.Folder-name{
color: #ff2020;
} */


.search {
  border: none !important;
  background-color: #F9F9F9;
  color: #99A1B7;
  /* height: 100%!important; */
  /* height: -webkit-fill-available !important; */
  width: 100% !important;
}

.search:focus {
  border: none !important;
  outline: none;
}

.unarchivedAll {
  /* background-color: #17C653; */
  background-color: #aa322e;
}

.disabled-button {
  background-color: #d3d3d3;
  /* Light gray or any other color you prefer for the disabled state */
  cursor: not-allowed;
  opacity: 0.6;
}

.sc-dJGMql {
  min-height: 0px !important;
}

@media only screen and (max-width: 767px) {
  .res-col {
    margin-top: 1rem !important;
  }
}

/* .desktop-only {
  display: none !important;
}

.mobile-only {
  display: none !important;
} */

/* .tablet-only {
  display: none !important;
} */

/* Mobile Phones (Portrait) */
@media only screen and (max-width: 545px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;

  }

  .img-fluid-grid {
    width: 60px !important;
    height: 60px !important;
  }

  .img-fluid-grid svg {
    width: 40px !important;
    height: 40px !important;
  }

  .background-color {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .main-div {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  /* .tablet-only {
    display: none !important;
  } */

  .desktop-only {
    /* display: none !important; */
  }
}

/* Tablets (Portrait) */
@media only screen and (min-width: 546px) and (max-width: 769px) {
  /* .tablet-only {
    display: block !important;
  } */

  .desktop-only {
    /* display: none !important; */
  }

  .mobile-only {
    display: none !important;
  }
}

@media only screen and (min-width: 770px) {
  .desktop-only {
    display: block !important;
  }

  .mobile-only {
    display: none !important;
  }

  /* .tablet-only {
    display: none !important;
  } */
}

.Grid-Filter-Icon-start {
  align-self: flex-start !important;
  margin-top: 15px;
}

@media only screen and (max-width:390px) {
  .filter-items {
    flex-direction: column !important;
  }
}

@media only screen and (min-width: 1025px) {
  .desktop-only {
    /* display: block !important; */
  }

  .res-col {
    margin-top: 1rem !important;
  }
}


@media only screen and (max-width: 767px) {
  /* .filters {
    flex-direction: column !important;
  } */

  .res-col {
    margin-top: 1rem !important;
  }
}

header {
  min-height: 0px !important;
}

.fEFSij {
  background-color: #f7ebeb !important;
}

.cUWaET {
  background-color: #f7ebeb !important;

}

#cuadricula {
  display: grid;
  grid-template-columns: repeat(6, 170px);
  justify-content: space-between;
  align-content: start;
  width: 100%;
  column-gap: 20px;
  row-gap: 20px;
}

/* For medium screens */
@media (max-width: 1240px) {
  #cuadricula {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* For small screens */
@media (max-width: 845px) {
  #cuadricula {
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 15px; */
  }
}

/* For extra small screens */
@media (max-width: 600px) {
  #cuadricula {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;

  }
}

/* For extra small screens */
@media (max-width: 330px) {
  #cuadricula {
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    /* Center grid items horizontally */
    align-content: center;
    /* Center grid items vertically */
  }

  .img-fluid-grid {
    width: 40px !important;
    height: 40px !important;
  }

  .img-fluid-grid svg {
    width: 40px !important;
    height: 40px !important;
  }

  .altribute {
    font-size: 12px;
  }

  .file-size {
    font-size: 11px;
  }
}

@media only screen and (max-width: 545px) {
  .flex-container {
    flex-direction: column;
  }
}

.PhoneInputInput {
  border: none !important;
}

.PhoneInputInput:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: inherit
}
.btn-circle-sm {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background-color: white;
  color: #800000;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}

.btn-circle-sm:disabled {
  color: #aeacac;
  cursor: not-allowed;
  background-color: white;
  box-shadow: none; 
}

.btn-circle-sm:not(:disabled):hover,
.btn-circle-sm:not(:disabled):focus {
  background-color: #800000;
  color: white;
  outline: none;
}
.fade-in-scale {
  animation: fadeInScale 0.6s ease-in-out;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}